 .card {
        background-color: #232222;
        color: #fafafa;
        padding: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 1em;
        box-shadow: 0 0 1em #02eaf1;
        position: relative;
        z-index: 1; 
      }

      .card-title {
        margin: 1em 0;
        text-align: center;
        font-weight: bolder;
      }

      .card-title h1,
      .card-title p {
        margin: 0.125em;
      }

      .card-title .location {
        color: #06e9c3;
      }

      .card-img {
        width: 96px;
        height: 96px;
        overflow: hidden;
        border-radius: 50%;
      }

      .card-img img {
        width: 100%;
        height: 100%;
      }

      .card-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 1em 0;
      }

      .card-links a {
        background-color: #3a3939;
        width: calc(100% - 1em);
        padding: 0.75em 1em;
        margin: 6px 0px;
        border-radius: 0.5em;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        color: #fafafa;
      }

      .card-links a:hover {
        background-color: #2c456d
